body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.dungeon-row {
  display :flex;
}
.dungeon-cell {
  border: 1px solid rgb(126, 255, 146);
  width: 10px;
  height: 10px;
}
.wall {
  border: 1px solid gray;
  background-color: orange;
}
.empty {
  background-color: rgb(126, 255, 146);
}

.food {
  background-color: blue;
}

.player {
  background-color: red;
}